{
	admin off
}

{$APP_DOMAIN} {
	encode zstd gzip

	handle_path /downloads/* {
		root * /srv/downloads
		file_server
	}

	handle /promo* {
		reverse_proxy landing:8080
	}

	@api path /api/v1/* /api/auth/* /api/docs* /api/docs-json /adminjs* /ws/live*
	reverse_proxy @api api:3001

	reverse_proxy web:3000
}
